apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ developer }}
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000